<h1>Skills</h1>
<h3>Programming Languages</h3>
<ul>
    <li>Java</li>
    <li>Python</li>
    <li>C#</li>
    <li>SQL</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
</ul>
<h3>IDE's</h3>
<ul>
    <li>Eclipse</li>
    <li>Visual Studio</li>
    <li>VS Code</li>
    <li>Anaconda</li>
    <li>Microsoft SSMS</li>
    <li>PostgreSQL</li>
    <li>Azure DevOps</li>
    <li>GitHub</li>
</ul>
<h3>Certificates</h3>
<ul>
    <li>Microsoft Azure Fundamentals (AZ-900)</li>
    <li>Microsoft Azure Developer Associate (AZ-204)</li>
</ul>
